html, body{
  height:100%;
}

body{
  background-image: url(../images/curtain.jpg);
  text-align: center;

}

#body{
  margin:2.5% auto;
  background-color: #830505;
  padding-bottom: 20px;
  width:960px;
  height: 110%;
  box-sizing: border-box;
}

#gameplay{
  position: relative;
}
button{
  display:block;
  width:50%;
  height:20%;
  margin: 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}

img{
  height:200px;
}

h1{
  font-family: 'Aclonica', sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color:black;
  padding-top: 2.5%;
}

h2{
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 10%;
  border:2px #472323;
  background: #532424;
}



button:hover {
  border:2px pink;
  background: #532424;
}